@import "https://www.nerdfonts.com/assets/css/webfont.css";

body {
	background-image: url('public/background.jpg');
	background-position: center center;
	background-size: cover;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
}

div {
	margin: 10px;
}

#icons,
#music {
	display: flex;
	justify-content: center;
	align-items: center;
}

#music {
	flex-direction: column;
}

#text,
#icon {
	color: white;
	mix-blend-mode: difference;
}

#text {
	max-width: 500px;
	margin: 0 auto;
	text-align: justify;
}

#icon {
	font-size: 40px;
}

@media screen and (max-width: 428px) {
	body {
		margin-bottom: 5%;
		margin-top: 5%;
	}

	#icon {
		font-size: 15px;
	}
}
