---
import Layout from '../layouts/Layout.astro';
import Movies from '../components/Movies.astro';
import Music from '../components/Music.astro';
---

<Layout>
  <div id="text">
    <h1>THE ZEBRA THEORY</h1>
    <p>
      The city I grew up in - the linden-scented city, is withering and falling apart right before my eyes, and I
      can't do anything to change the fact. It's eventual salvation or inevitable doom are the only outcomes: no
      intermediate state is possible, and I oppose the idea of one.
    </p>
  </div>

  <Movies />
  <Music />

  <div id="text">
    <h1>Ова е последно, бидејќи по крвта - ништо не останува</h1>
    <p>- Коста Солев Рацин</p>
  </div>
</Layout>
